doctype html
html
    head
        link(rel='stylesheet' type='text/css' href='src/popup/popup.css')
        script(type='text/javascript' src='src/popup/popup.js')
    body
        form.settings
            label.switch
                input(type='checkbox')
                span.slider.round
            label.switch
                input(type='checkbox')
                span.slider.round
            label.switch
                input(type='checkbox')
                span.slider.round
